h3{
	font-size: 24px
}

input[type='text'] { 
	font-size: 24px; 
}

.inner-box {
	display: table;
  margin: 0 auto;
  margin-top:350px;
}

#first-page {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url('homepage.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;